body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin-top: 0;
    background: rgb(2, 0, 36);
    background: linear-gradient(198deg, rgba(2, 0, 36, 0.3673670151654411) 0%, rgba(208, 202, 167, 1) 25%, rgba(0, 212, 255, 0.16288522244835435) 100%);
}


.header {
    width: 100%;
    color: #e63946;
    text-align: center;
    padding: 20px 0 0 0;
    padding: 20px;
    text-shadow: -1px 1px 11px #8b8989;
    border-radius: 50px 20px;
    margin-top: 40px;
    font-size: calc(5px + 3vw);
}

.hampic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    max-width: 640px;
    min-width: 120px;
    height: auto;
    border-radius: 30% 70% 70% 30%/30% 50% 70% 70%;
    box-shadow: 12px 10px 20px 1px black;
    margin-top: 100px;
    margin-bottom: 60px;
}

.description {
    text-align: center;
}

.description__paragraph {
    text-align: center;
    width: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-size: calc(10px + 1vw);
    margin-bottom: 100px;

}

.description__header {
    font-size: calc(10px + 2vw);
}

.links {
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

.hamlinks {
    width: 30%;
    font-size: calc(12px + 0.9vw);
    background-color: #3e1f47;
    border-radius: 6px;
    margin-left: 30px;
    min-width: 160px;
    color: white;
    padding: 10px;

}

.back {
    color: white;
    top: 10px;
    position: fixed;
    text-decoration: none;
    background-color: #e85d04;
    border-radius: 5px;
    padding: 10px;
    text-shadow: 0px 0px 7px black;
    transition: background-color 0.5s;
}