body {
    font-family: 'Roboto', sans-serif;
    background-color: #f6f4d2
}

.header {
    color: #2a9d8f;
    margin-top: 40px;
    text-align: center;
    font-size: calc(5px + 2vw);
}





.sectionHeader {
    color: #f25c54;
    font-size: calc(3px + 2vw);
    text-align: center;

}

.diary {
    color: #f4a261;
    text-align: center;
    font-size: calc(5px + 2vw);

}

.diaryText {
    font-size: calc(12px + 0.5vw);
    margin: 20px 10px;
}

.lorem {

    text-align: center;
    font-size: calc(12px + 0.5vw);
}

.navigation {
    font-size: calc(7px + 1vw);

}

.link {
    color: white;
    text-decoration: none;
    background-color: #a5a58d;
    transition: background-color 1s;
    border-radius: 5px;
    text-shadow: 1px 1px 4px black;

    padding: 3px;



}

.link:hover {
    background-color: rgb(197, 207, 106);
}


.autor__pic {
    width: 20%;
    min-width: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30% 70% 70% 30%/30% 50% 70% 70%;
    box-shadow: 1px 4px 20px 6px yellowgreen;

}

.buttons {
    margin: 20px 0 0 20px;
}

.facebookpic, .gitpic, .linkedinpic {
    width: 3vw;
    position: relative;
    border-radius: 10px;
    min-width: 30px;
}