body {

    box-sizing: border-box;
    background-color: lightgrey;
    font-family: 'Roboto', sans-serif;
    border: 33px solid #264653;
    border-radius: 4vw;
}

.header {
    color: rgb(199, 55, 55);
    margin-top: 40px;
    text-align: center;
    background-image: url(tlo1.jpg);
    height: 400px;
    text-shadow: 3px 3px 6px black;
    display: flex;
    justify-content: center;
}

.backward {
    color: white;
    text-decoration: none;
    background-color: powderblue;
    border-radius: 5px;

    text-shadow: 0px 0px 7px black;
    transition: background-color 0.5s;


}

.link:hover {
    background-color: rgb(197, 207, 106);
}



table, th, td {
    border: 0.5px solid black;
}

.table {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-width: 100px;
    height: 550px;
    background-color: #f8edeb;
    box-shadow: 0px 0px 20px 1px black;
}

.Tablepoint {
    background-color: rgb(177, 175, 175);
    font-size: calc(12px + 0.5vw)
}

.TableItem {
    text-align: center;
    font-size: calc(12px + 0.5vw)
}

.tableSection {
    margin: 20px;
    font-size: calc(12px + 0.5vw)
}

.description {
    text-align: center;

    font-size: calc(12px + 0.5vw)
}





.descriptionheader {
    font-size: calc(20px + 2vw);
    min-width: 100px;

}

.navigationsticky {}


.Navigation {

    position: sticky;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

}

.navigation__div {
    width: 100%;
    background-color: #2a9d8f;
    font-size: calc(10px + 1.3vw);
    border-radius: 4px;

}


.link2 {
    display: inline-block;
    color: black;
    text-decoration: none;
    margin: 2px 10px;
    background-color: powderblue;
    border-radius: 4px;
    transition: background-color 0.5s;
    padding: 10px;
    

}

.link2:hover {
    background-color: rgb(197, 207, 106);


}



.up {
    text-decoration: none;
    color: black;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: lightgray;
    padding: 3px;
    border-radius: 5px;
    transition: background-color 0.5s;

}

.up:hover {
    background-color: rgb(197, 207, 106)
}



.kubicaparagraph {
    width: 100%;

}

.kubicalink {

    margin: 10px 230px 5px 90px;
    text-decoration: none;
    color: black;
}



.drivers {

    margin: 20px 0 0px 20px;
}



.drivers__header {
    text-align: center;
    margin: 50px 0 30px 0;
}

.drivers__div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;



}

.drivers__kubica {

    width: 100%;
    max-width: 250px;
    min-width: 140px;
    border-radius: 30% 70% 70% 30%/30% 50% 70% 70%;
    box-shadow: 12px 10px 20px 1px black;

}

.drivers__max {

    width: 100%;
    max-width: 250px;
    min-width: 140px;
    border-radius: 30% 70% 70% 30%/30% 50% 70% 70%;
    box-shadow: 12px 10px 20px 1px black;
}

.drivers__ham {
    width: 100%;
    max-width: 250px;
    min-width: 80px;
    border-radius: 30% 70% 70% 30%/30% 50% 70% 70%;
    box-shadow: 4px 4px 4px black;
}

.picheader {
    font-size: calc(12px + 0.5vw)
}