/* Home page styles - converted from style.css */

.header {
    color: #2a9d8f;
    margin-top: 40px;
    text-align: center;
    font-size: calc(5px + 2vw);
}

.sectionHeader {
    color: #f25c54;
    font-size: calc(3px + 2vw);
    text-align: center;
}

.diary {
    color: #f4a261;
    text-align: center;
    font-size: calc(5px + 2vw);
}

.diaryText {
    width: 100%;
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
    font-size: calc(12px + 0.5vw);
    text-align: center;
}

.lorem {
    width: 100%;
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: calc(12px + 0.5vw);
}

.navigation {
    font-size: calc(7px + 1vw);
    text-align: center;
    margin: 50px 0;
}

.link {
    color: white;
    text-decoration: none;
    background-color: #a5a58d;
    transition: background-color 0.7s;
    border-radius: 5px;
    text-shadow: 1px 1px 4px black;
    text-align: center;
    padding: 8px 16px;
    margin: 5px;
    display: inline-block;
}

.link:hover {
    background-color: rgb(197, 207, 106);
}

.autor__pic {
    width: 20%;
    min-width: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30% 70% 70% 30%/30% 50% 70% 70%;
    box-shadow: 1px 4px 20px 6px yellowgreen;
}

.test {
    text-decoration: none;
    color: black;
}

.section {
    text-align: center;
    padding: 20px;
}

@media (max-width: 768px) {

    .diaryText,
    .lorem {
        max-width: 90vw;
    }
}

.lorem-header {
    text-align: center;
}